@import url('https://fonts.googleapis.com/css?family=Open+Sans&subset=greek');

login-form {
  font-family : "Open Sans",Helvetica,Arial,sans-serif;
  border: 3px solid #f1f1f1;
}

/* Full-width inputs */
label, h2, p, button {
  font-family : "Open Sans",Helvetica,Arial,sans-serif;
}
input[type=text], input[type=password] {
  font-family : "Open Sans",Helvetica,Arial,sans-serif;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Add padding to containers */
.container {
  margin: auto;
  padding: 16px;
  width: 40%
}
