@import url('https://fonts.googleapis.com/css?family=Open+Sans&subset=greek');

body * {
	font-family : "Open Sans",Verdana,Helvetica,Arial,sans-serif;
}
.imagetable {
	/* font-size : 90%; */
	/* font-family : Verdana,Helvetica,Arial,sans-serif; */
	font-size:15px;
	color:#333333;
	border-width: 1px;
	border-color: #999999;
	border-collapse: collapse;
	width: 90%;
}
.imagetable th {
	/* font-family : Verdana,Helvetica,Arial,sans-serif; */
	background:#b5cfd2;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #999999;
}
.imagetable td {
	/* font-size : 80%; */
	/* font-family : Verdana,Helvetica,Arial,sans-serif; */
	background:#dddebc;
	border-width: 1px;
	padding: 6px;
	border-style: solid;
	border-color: #999999;
}

.imagetable tr:nth-child(even){background-color: #f2f2f2;}

.imagetable tr:hover {background-color: #ddd;}

.imagetable th {
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	background-color: #2a672ddb;
	color: white;
}
.stable {
	width: auto;
}

#navigation {
 margin: 0;
 padding: 8px 29px;
 background: #49ad4f;
 height: 20px;
 list-style: none;
 font-size : 110%;
 font-family : "Open Sans",Helvetica,Arial,sans-serif;
}

#navigation > li {
 float: left;
 height: 100%;
 margin-right: 0.5em;
 padding: 0 1em;
 font-size : 80%;
 font-family : "Open Sans",Helvetica,Arial,sans-serif;
}

#navigation > li > a {
 float: left;
 height: 100%;
 color: #fff;
 text-decoration: none;
 font-weight: bold;
 text-transform: uppercase;
}

#navigation > li > a:hover {
 color: orange;
 text-decoration: underline;
}
#navigation > li.sub {
 position: relative;
}
#navigation > li.sub ul {
 width: 12em;
 margin: 0;
 padding: 0.5em 0;
 list-style: none;
 background: #49ad4f;
 position: absolute;
 top: -1000em;
}

#navigation > li.sub ul li {
 width: 90%;
 margin: 0 auto 0.3em auto;
}

#navigation > li.sub ul li a {
 height: 100%;
 display: block;
 padding: 0.4em;
 color: #fff;
 font-weight: bold;
 text-decoration: none;
}

#navigation > li.sub ul li a:hover {
 background: #255226;
 text-decoration: underline;
}
#navigation > li.sub:hover ul {
 top: 1.3em;
}

.applogo {
	height: 85px;
	padding-bottom: 8px;
	padding-left: 30px;
}

button, input[type=submit], input[type=button] {
	background-color: #4CAF50;
	color: white;
	padding: 7px 13px;
	margin: 8px 3px;
	border: none;
	cursor: pointer;
	border-radius: 5%;
}
.btn-red {
	background-color: #ea150b !important;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

.userdata {
	font-size : 70%;
	font-size:11px;
}
